<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>ServletPages.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ServletPages.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>controller.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCaste</servlet-name>
        <servlet-class>controller.SearchByCaste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCity</servlet-name>
        <servlet-class>controller.SearchByCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAmount</servlet-name>
        <servlet-class>controller.SearchByAmount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCaste</servlet-name>
        <url-pattern>/SearchByCaste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCity</servlet-name>
        <url-pattern>/SearchByCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAmount</servlet-name>
        <url-pattern>/SearchByAmount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
